@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Poppins", sans-serif !important;
}

.z-60 {
    z-index: 1000;
}

.bgImage {
    position: relative;
    background-image: url('./assets/images/M.A.M. College of Engineering and Technology (MAMCET), Tiruchirappalli 2.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  
